@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Products List";
}

@inject IJsonHelper Json;
@model List<CommissionSystem.Business.Product.ReadProductModel>
@*@Html.ActionLink("Update", "AjaxTester", new { id = "mylink",data-testc="123" })*@


<div class="col col-sm-12">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Products-Grouped
            </li>
            <li>
                Products-Single
            </li>
        </ul>
        <div>
            <span class="rainy">&nbsp;</span>
            <div class="weather">
                <div id="products-grouped"></div>
            </div>
        </div>
        <div>
            <span class="sunny">&nbsp;</span>
            <div class="weather">
                <div id="products-single"></div>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            $("#products-grouped").kendoGrid({
                columns: [
                    {
                        template: "<a class='k-button'><span class='k-icon k-i-plus'></span></a>",
                        width: 35
                    },
                    {
                        width: 180,
                        field: "code",
                        title: "Code",
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        width: 100,
                        field: "brandName",
                        title: "Brand",
                        filterable: {
                            multi: true,
                            //when serverPaging of the Grid is enabled, dataSource should be provided for all the Filterable Multi Check widgets
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "../API/Brand/Unique",
                                        dataType: "json"
                                    }
                                }
                            }
                        }
                    },
                    /*{ width: 100, field: "unitsInStock", title: "Stock" },*/
                    { width: 100, field: "joinedStores", title: "Store", encoded: false },
                    { width: 100, field: "sumStock", title: "All Stock" },
                    { width: 100, field: "priceString", title: "Price" },
                    { width: 90, field: "currency", title: "Currency" },
                    { width: 120, field: "priceInRialsString", title: "Price In Rials" },
                    /*{ width: 180, field: "lastUpdate", title: "Last Currency Update" },*/
                    { width: 300, field: "productName", title: "Product Name" }
                ],
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/API/Product?grouped=true"
                    },
                    pageSize: 20
                },
                selectable: true,
                groupable: true,
                toolbar: ["excel", "pdf", "search"],
                search: {
                    fields: ["productName", "code", "brand"]
                },
                excel: {
                    fileName: "Products Export.xlsx"
                },
                pdf: {
                    fileName: "Products Export.pdf"
                },
                sortable: true,
                filterable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                }

            });

            $("#products-single").kendoGrid({
                columns: [
                    {
                        template: "<a class='k-button'><span class='k-icon k-i-plus'></span></a>",
                        width: 35
                    },
                    {
                        width: 180,
                        field: "code",
                        title: "Code",
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            }
                        },
                    },
                    {
                        width: 100,
                        field: "brandName",
                        title: "Brand",
                        filterable: {
                            multi: true,
                            //when serverPaging of the Grid is enabled, dataSource should be provided for all the Filterable Multi Check widgets
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "../API/Brand/Unique",
                                        dataType: "json"
                                    }
                                }
                            }
                        }
                    },
                    { width: 100, field: "unitsInStock", title: "Stock" },
                    { width: 100, field: "store", title: "Store", encoded: false },
                /*    { width: 100, field: "sumStock", title: "All Stock" },*/
                    { width: 100, field: "priceString", title: "Price" },
                    { width: 90, field: "currency", title: "Currency" },
                    { width: 120, field: "priceInRialsString", title: "Price In Rials" },
                    /*{ width: 180, field: "lastUpdate", title: "Last Currency Update" },*/
                    { width: 300, field: "productName", title: "Product Name" }
                ],
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/API/Product?grouped=false"
                    },
                    pageSize: 20
                },
                selectable: true,
                groupable: true,
                toolbar: ["excel", "pdf", "search"],
                search: {
                    fields: ["productName", "code", "brand"]
                },
                excel: {
                    fileName: "Products Export.xlsx"
                },
                pdf: {
                    fileName: "Products Export.pdf"
                },
                sortable: true,
                filterable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                }

            });

            $(document).ready(function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    }
                });
            });
        });
    </script>


</div>
