@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Products List";
}

@inject IJsonHelper Json;
@model List<CommissionSystem.WebApplication.Models.ViewModels.ReadProductModel>

<div class="col col-12">
    <h5 class="text-muted">
        List of products
    </h5>
</div>

<div class="col col-sm-12">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#quotes" role="tab" aria-controls="quotes" aria-selected="true">Products</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div id="products" class="tab-pane fade show active" role="tabpanel" aria-labelledby="quotes-tab"></div>
    </div>
    <script>

            $(document).ready(function () {
                $("#products").kendoGrid({
                    columns: [
                        { width: 300, field: "productName", title: "Product Name" },
                        { width: 300, field: "code", title: "Code" },
                        { width: 300, field: "brand", title: "Brand" },
                        { width: 300, field: "unitsInStock", title: "Units In Stock" },
                        { width: 300, field: "price", title: "Price" },
                        { width: 300, field: "currency", title: "Currency" },
                        { width: 300, field: "priceInRials", title: "Price In Rials" },
                        { width: 300, field: "lastUpdate", title: "Last Currency Update" },

                    ],
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "/API/Product"
                        },
                        pageSize: 20
                    },
                    selectable: true,
                    //scrollable: {
                    //    endless: true
                    //},
                    toolbar: ["excel", "pdf", "search"],
                    search: {
                        fields: ["productName","code"]
                    },
                    excel: {
                        fileName: "Products Export.xlsx"
                    },
                    pdf: {
                        fileName: "Products Export.pdf"
                    },

                    sortable: true,
                    pageable: true,

                });
            });

    </script>
</div>
