<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon"
          type="image/png"
          href="~/img/Fav.png">
    <partial name="_BootstrapPartial.cshtml" />
    @RenderSection("CSS", true)
    @RenderSection("Java", true)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
