<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - CommisionSystem</title>*@
    <title>Hurmen Sales Assist System - HSAS</title>
    <link rel="icon"
          type="image/png"
          href="~/img/Fav.png">
    <partial name="_BootstrapPartial.cshtml" />

    @*StyleSheets*@
    <link href="~/lib/kendo/css/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebars.css" />
    @*StyleSheets*@

    @*Scripts*@

    <script src="~/lib/kendo/js/angular.min.js"></script>
    <script src="~/lib/kendo/js/jszip.min.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>

    @*Scripts*@


</head>
<body>
    <div class="page-wrapper chiller-theme toggled">
        <partial name="../Partials/Sidebar" />
        <main class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <partial name="../Partials/PageHeader" />
                    @RenderBody()

                </div>

                <partial name="../Partials/ModalPartial" />

                <footer class="text-center">
                    @*<div class="mb-2">
                        <small>
                            © 2020 made with <i class="fa fa-heart" style="color:red"></i> by - <a target="_blank" rel="noopener noreferrer" href="https://azouaoui.netlify.com">

                            </a>
                        </small>
                    </div>
                    <div>
                        <a href="https://github.com/azouaoui-med" target="_blank">
                            <img alt="GitHub followers" src="https://img.shields.io/github/followers/azouaoui-med?label=github&style=social" />
                        </a>
                        <a href="https://twitter.com/azouaoui_med" target="_blank">
                            <img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/azouaoui_med?label=twitter&style=social" />
                        </a>
                    </div>*@
                </footer>
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->



    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {



            createPopover();


        });

        function createPopover() {
            // $(".k-calendar-td:has(.eventful) a").removeAttr("href");

            $("#in-progress-quote").kendoPopover({
                //  showOn: "over",
                // filter: ".k-calendar-td:has(.eventful)",
                width: "300px",
                height: "208px",
                position: "right"
                    header: ,
                // body: kendo.template($("#body-template").html())
            });
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //$(document).ready(function () {
        //    $.ajax({
        //        // edit to add steve's suggestion.
        //        //url: "/ControllerName/ActionName",
        //        url: '/product/test',
        //        success: function (data) {
        //            // your data could be a View or Json or what ever you returned in your action method
        //            // parse your data here
        //           // alert(data);
        //        }
        //    });

        //});





    </script>
</body>
</html>
