@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div id="dialog">
    <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

<script>
    $("#dialog").kendoWindow({
        title: "Quote Details",
        modal: true,
        minWidth: "50%",
        maxWidth: "50%",
        left: "25%",
        visible: false

    });
    var dialog = $("#dialog").data("kendoWindow");
    dialog.center().close();

    $("#in-progress-quote").click(function () {
        dialog.center().open();
    });
</script>